<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCFRIB</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCFRIB.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="background-state">
        <div>
            <h1 class="header-text">Code Test</h1>
            <div class="header-container">
                <div class="nav-item">
                    <a class="header-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </div>
                <div class="nav-item">
                    <a class="header-text" asp-area="" asp-controller="Messages" asp-action="Send">Send a Message</a>
                </div>
                <div class="nav-item">
                    <a class="header-text" asp-area="" asp-controller="Messages" asp-action="List">Message List</a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MVCFRIB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
