@model MVCFRIB.Models.Message

@{
    ViewData["Title"] = "Message Details";
}

<h1>Details</h1>

<hr />

<table class="message-table">
    <tr class="message-table--header">
        <th>ID</th>
        <th>Message</th>
        <th>Sent</th>
    </tr>
    <tr class="message-table--item">
        <td>@Model.Id</td>
        <td>@Model.MessageContent</td>
        <td>@Model.Sent</td>
    </tr>
</table>

<div>
    <a asp-action="List">Back to List</a>
</div>
