@model List<MVCFRIB.Models.Message>
@* @model IEnumerable<MVCFRIB.Models.Message> *@

@{
    ViewData["Title"] = "Message List";
}

<h1>Message List</h1>

<hr />

<div class="text-center">
    <h3>This is a list of all messages sent so far:</h3>
</div>

<table class="message-table">
    <tr class="message-table--header">
        <th>ID</th>
        <th>Message</th>
        <th>Sent</th>
        <th></th>
    </tr>
    @foreach (var message in Model)
    {
        <tr class="message-table--item">
            <td>@message.Id</td>
            <td>@message.MessageContent</td>
            <td>@message.Sent</td>
            <td>
                <a asp-action="Details" asp-route-id="@message.Id">Details</a>
            </td>
        </tr>
    }
</table>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
