@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bob Valentic's page!</h1>
    <p>Learn about my various other repos <a href="https://github.com/bvalentic">here</a>.</p>
</div>
