html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.background-state {
    background-color: #18453b
}

.center-text {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
}

.form {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4em;
}

.form-button {
    border: none;
    color: white;
    font-size: 20px;
    min-width: 10vw;
}

.form-group {
    display: flex;
    justify-content: space-evenly;
}

.form-label {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-link {
    padding: 0 2em;
}
.header-link:hover {
    box-shadow: 0 0 0 0.25rem white;
}

.header-text {
    color: white;
    text-align: center;
}

.header-text--padding {
    margin: 0;
    padding: 1rem 0;
}

.home-container {
    padding: 0 2em 4em 2em;
    text-align: center;
}

.main-container {

}

.message-table {
    border: 1px solid;
    margin-bottom: 4em;
    width: 75%;
}

/*double-border on th and td elements in message-table*/
.message-table th, td {
    border: 1px solid; 
}

.message-table--header {
    font-weight: bold;
}

.message-table--item {

}

.nav-item {
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #333333;
}

.text-box {

}

.text-muted {
    color: gray;
}
