html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.background-state {
    background-color: #18453b
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-link {
    padding: 0 2em;
}
.header-link:hover {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.header-text {
    color: white;
    text-align: center;
}

.message-table {

}

.message-table--header {

}

.message-table--item {

}

.nav-item {
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #333333;
}

.text-box {

}
